<% provide(:title, 'Create User') %>
<h1>Create User</h1>

<div class="row">
  <div class="col-md-4 col-sm-6">

    <%= form_for(@user) do |f| %>
	    <div class="form-group">
	      <%= f.label :username %>
	      <%= f.text_field :username, class: 'form-control' %>
	  	</div>

<!--       <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %> -->

		<div class="form-group">
	    	<%= f.submit "Create", class: "btn btn-primary" %>
	  	</div>
    <% end %>
  </div>
</div>