<% provide(:title, 'Clock Events') %>
<h1>Listing Clock Events</h1>

    <%= form_for(:event, url: filtered_events_path, html: {:method => :get}) do |f| %>
      <%= f.label :User %>
      <%= f.select :user_id, options_for_select(User.all.map{|user| [user.username, user.id]}.unshift(['All users', 'all']), 
      selected: @selected_user), class: 'form-control' %>

      <%= f.label :Event %>
      <%= f.select :event_type, options_for_select([["All events", "all"], "Clock in", "Clock out"], selected: @selected_event_type),class: 'form-control' %>

      <%= f.submit "Refresh", class: "btn btn-primary" %>
    <% end %>

<table class="table table-striped">
  <tr>
    <th>User</th>
    <th>Event</th>
    <th>Time</th>
  </tr>

   <%= render @events %>
</table>

<%= will_paginate %>