<% provide(:title, "Home") %>
<h1>Clock in/out Platform</h1>

<div class="row">
  <div class="col-md-4 col-sm-6">

    <%= form_for(:event, url: home_path) do |f| %>
    	<div class="form-group">
		    <%= f.label :username %>
		    <%= f.text_field :username, class: 'form-control' %>
		  </div>

		  <div class="form-group">
			    <%= f.submit "Clock in", class: "btn btn-primary" %>
      		<%= f.submit "Clock out", class: "btn btn-default" %>
	  	</div>
    <% end %>

    <p>Not a user? <%= link_to "Create User", signup_path %></p>
  </div>
</div>
