<% provide(:title, "Sign in") %>
<div class='jumbotron'>

	<p>
	  <strong>User:  </strong>
	  <%= @event.username%>
	</p>
	 
	<p>
	  <strong>Event: </strong>
	  <%= @event.event_type %>
	</p>

	<p>
	  <strong>Time:  </strong>
	  <%= @event.created_at %>
	</p>

	<% if @event.event_type == "Clock out" %>
  		<p>
	  	  <strong>Time Worked: </strong>
	  	  <%= @time_worked %> Hours
		</p>
	<% end %>

	 <p class="center"><%= link_to "Ok", home_path %></p>

	</div>
</div>